################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Logistics/appsettings.json
/.vs
/Logistics/.vs/Logistics
/Logistics/.vs/Logistics
