################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LogisticTask/.vs
/LogisticTask/bin/Debug/net8.0
/LogisticTask/obj
/LogisticTask/Migrations
